mixin appDetail(app)
    div(id=`${app.id}-detail`).hide
        link(rel='stylesheet', href='/styles/apps-style.css')
        .AppContainer(class=`${app.style_id}Color`)
            .AppImgView(class=`${app.style_id}ScrollPic`)
            .pad
                p.appName #{app.name}
                hr.smallBar
                p.appDescription #{app.description}