mixin appDetail(app)
    div(id=`${app.id}`)
        link(rel='stylesheet', href='/styles/apps-style.css')
        .AppContainer(class=`${app.style_id}Color`)
            .AppImgView(class=`${app.style_id}ScrollPic`)
            div.pad
                p.appName #{app.name}
                hr
                p.appDescription #{app.description}